@import "./variables.scss";

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: $black;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

p {
    margin: 0;
    padding: 15px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;

    header {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 10px $light-gray;
        border-radius: 5px;

        .animated-square {
            width: 50px;
            height: 50px;
            background: $blue;
            position: relative;
            margin: 20px 0;
            animation: square 10s linear infinite;
            display: inline-block;
            border-radius: 10%;
        }
    }
}

@keyframes square {
    0% {
        transform: rotate(0turn);
        box-shadow: 0 0 5px $black;

    }
    50% {
        background: $light-blue;
        border-radius: 50%;
        box-shadow: 0 0 25px $blue;

    }
    100% {
        transform: rotate(1turn);
        box-shadow: 0 0 5px $black;

    }
}